<div class="modal-overlay" *ngIf="displayModal" >
  <div class="modal">
      <div class="modal-header">
          <h2 class="modal-title">{{modalOperation ? 'Create' : 'Update'}} Item </h2>
      </div>
      <div class="modal-body">
          <input type="text" placeholder="Enter Item Label (Required!)" [(ngModel)]="itemLabel">
      </div>
      <div class="modal-footer">
          <button class="btn-save" (click)="save()">Save</button>
          <button class="btn-cancel" (click)="close()">Cancel</button>
      </div>
  </div>
</div>
